{include file="common\header" \}
			
					<div class="post">

						<div class="post_title"><h1>Porttitor posuere</h1></div>
						<div class="post_date">Posted on Dec 11th at 16:12 from <a href="#">Aliquet Quis</a></div>
					
						<div class="post_body">
						
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc sagittis. Proin ac felis. Consectetuer adipiscing elit. Pellentesque enim dui, rhoncus ut, pharetra</p>
							
							<ul>
								<li>List item 1</li>
								<li>List item 2</li>				
								<li>List item 3</li>
							</ul>	
							
							<p>Luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue.</p>

							<p>Donec ligula lorem, varius eget, semper eget, aliquet quis, lectus. Vestibulum ipsum nunc, aliquet quis, blandit ac, varius a, est. Praesent dictum. Sed feugiat magna sed lorem. Nulla tempus sodales ipsum. In vitae purus eget quam.</p>

							<blockquote><p>Luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue</p></blockquote>

							<p>Luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue.</p>

						</div>
						
						<div class="post_meta">
							Tagged: <a href="#">Purus</a>, <a href="#">Semper</a>, <a href="#">Vestibulum</a>
						</div>

					</div>

					<h3 class="left">Comments</h3>
					<p class="right large"><a href="#reply">Leave a reply &#187;</a></p>

					<div class="clearer">&nbsp;</div>

					<div class="comment_list">

						<div class="comment alt">

							<div class="comment_gravatar left"><img alt="" src="__PUBLIC__\static\home\img\sample-gravatar.jpg" height="32" width="32" /></div>

							<div class="comment_author left">
								Duis porttitor
								<div class="comment_date"><a href="#">December 20th, 2007 at 9:35 pm</a></div>
							</div>

							<div class="clearer">&nbsp;</div>
							
							<div class="comment_body">									
								<p>Hi</p>
							</div>
			
						</div>
						
						<div class="comment">

							<div class="comment_gravatar left"><img alt="" src="__PUBLIC__\static\home\img\sample-gravatar.jpg" height="32" width="32" /></div>
							
							<div class="comment_author left">
								<a href="#">Elementum</a>
								<div class="comment_date"><a href="#">December 21st, 2007 at 12:46 pm</a></div>
							</div>

							<div class="clearer">&nbsp;</div>
							
							<div class="comment_body">								
								<p>Comments are cool!</p>
							</div>
			
						</div>	
						
						<div class="comment alt">

							<div class="comment_gravatar left"><img alt="" src="__PUBLIC__\static\home\img\sample-gravatar.jpg" height="32" width="32" /></div>
							
							<div class="comment_author left">
								<a href="#">Posuere tristique</a>
								<div class="comment_date"><a href="#">December 24th, 2007 at 5:02 pm</a></div>
							</div>

							<div class="clearer">&nbsp;</div>
							
							<div class="comment_body">
								<p>Hi, wanna see comments..</p>									
							</div>
			
						</div>	
			
						<div class="comment">

							<div class="comment_gravatar left">
								<img alt="" src="__PUBLIC__\static\home\img\sample-gravatar.jpg" height="32" width="32" />
							</div>
							
							<div class="comment_author left">
								<a href="#">Aenean</a>
								<div class="comment_date"><a href="#">January 18th, 2008 at 7:54 pm</a></div>
							</div>

							<div class="clearer">&nbsp;</div>
							
							<div class="comment_body">									
								<p>Nice template!</p>
							</div>
			
						</div>

					</div>

					<form action="" method="post" id="reply">

						<fieldset>	
						
							<div class="legend">Leave a Reply</div>

							<div class="form_row">
								
								<div class="form_property form_required"><label for="name">Your name</label></div>
								<div class="form_value"><input type="text" size="32" name="name" value="" class="text" id="name" /></div>

								<div class="clearer">&nbsp;</div>

							</div>

							<div class="form_row">
								
								<div class="form_property"><label for="email">Email</label></div>
								<div class="form_value"><input type="text" size="32" name="email" value="" class="text" id="email" /></div>

								<div class="clearer">&nbsp;</div>

							</div>

							<div class="form_row">
								
								<div class="form_property"><label for="website">Website</label></div>
								<div class="form_value"><input type="text" size="32" name="website" value="" class="text" id="website" /></div>

								<div class="clearer">&nbsp;</div>

							</div>
							
							<div class="form_row">
								
								<div class="form_property form_required"><label for="comment">Comment</label></div>
								<div class="form_value"><textarea rows="10" cols="46" name="comment" id="comment"></textarea></div>

								<div class="clearer">&nbsp;</div>

							</div>

							<div class="form_row form_row_submit">
								
								<div class="form_value"><input type="submit" class="button" value="Submit Comment &#187;" /></div>

								<div class="clearer">&nbsp;</div>

							</div>
						
						</fieldset>

					</form>

				</div>
{include file="common\footer" \}