<div class="box">

    <div class="box_title">Gallery</div>

    <div class="box_content">

        <div class="thumbnails">

            <a href="#" class="thumb"><img src="__PUBLIC__\static\home\img\sample-thumbnail.jpg" width="64" height="64" alt="" /></a>
            <a href="#" class="thumb"><img src="__PUBLIC__\static\home\img\sample-thumbnail.jpg" width="64" height="64" alt="" /></a>
            <a href="#" class="thumb"><img src="__PUBLIC__\static\home\img\sample-thumbnail.jpg" width="64" height="64" alt="" /></a>
            <a href="#" class="thumb"><img src="__PUBLIC__\static\home\img\sample-thumbnail.jpg" width="64" height="64" alt="" /></a>
            <a href="#" class="thumb"><img src="__PUBLIC__\static\home\img\sample-thumbnail.jpg" width="64" height="64" alt="" /></a>
            <a href="#" class="thumb"><img src="__PUBLIC__\static\home\img\sample-thumbnail.jpg" width="64" height="64" alt="" /></a>

            <div class="clearer">&nbsp;</div>

        </div>

    </div>

</div>