<div class="box">

    <div class="box_title">Resources</div>

    <div class="box_content">
        <ul>
            <li><a href="http://www.cssmoban.com/">cssMoban.com Web Templates</a></li>
            <li><a href="http://www.google.com/">Google</a> - Web Search</li>
            <li><a href="http://www.w3schools.com/">W3Schools</a> - Online Web Tutorials</li>
            <li><a href="http://www.wordpress.org/">WordPress</a> - Blog Platform</li>
            <li><a href="http://cakephp.org/">CakePHP</a> - PHP Framework</li>
        </ul>
    </div>

</div>